main{
    background-color: rgba(127, 255, 180, 0.438);
}
.cards{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;
    padding: 2rem;
}

.card-item{
    display: flex;
}
.card-item img{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}