.cards{
    display: grid;
    display: flex;
    flex-wrap: wrap;
justify-content: center;

gap: 1.2rem 2rem;
   
}
div input{
    width: 50%;
    padding: .5rem;
    border-radius: .5rem;
    display: inline-block;
}